.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: grey;
}

#main-container {
  grid-column: 2;
}

#side-container {
  grid-column: 1;
  background-color: gray;
}

.visuals {
  height: 90%;
  width: 100%
}